namespace StreamMarkers
{
    public partial class Constants: ConstantsBase
    {
        public new static readonly string CLIENT_ID = "--clientid--";
        public new static readonly string CLIENT_SECRET = "--clientsecret--";
    }
}